.vscode

*.o
webserv
var/www/website/big.html
var/www/website/large_video.html
var/www/website/large_video.webm
var/www/website/relaxing_video.webm
var/www/website/vedeo.html
var/www/website/vedeo.mp4
var/www/website/vedeo1.html

